<div class="container-fluid">
<nav class="navbar navbar-expand-lg justify-content-end">
    <div class="d-flex align-items-center">
        <ul class="accessibility navbar-nav">
            <li class="nav-item mr-2">
                <button id="bt-increaseFont" type="button" tabindex="1"
                    class="btn btn-light d-flex align-items-center justify-content-center flex-row"
                    (click)="increaseFont()" placement="bottom"
                    ngbTooltip="">
                    <span class="fas fa-font"></span>
                    <small><span class="fas fa-plus"></span></small>
                </button>
            </li>

            <li class="nav-item mr-2">
                <button id="bt-resetFont" type="button" tabindex="2"
                    class="btn btn-light d-flex align-items-center justify-content-center flex-row"
                    (click)="resetFont()" placement="bottom"
                    ngbTooltip="">
                    <span class="fas fa-font"></span>
                    <small><span class="fas fa-sync"></span></small>
                </button>
            </li>

            <li class="nav-item mr-2">
                <button id="bt-decreaseFont" type="button" tabindex="3"
                    class="btn btn-light d-flex align-items-center justify-content-center flex-row"
                    (click)="decreaseFont()" placement="bottom"
                    ngbTooltip="">
                    <span class="fas fa-font"></span>
                    <small><span class="fas fa-minus"></span></small>
                </button>
            </li>

            <li class="nav-item mr-2">
                <button id="bt-highContrast" type="button" tabindex="4"
                    class="btn btn-light d-flex align-items-end justify-content-center flex-column"
                    (click)="changeHighConstrast()" placement="bottom"
                    ngbTooltip="">
                    <span class=" fas fa-adjust" ></span>
                </button>
            </li>
        </ul>
    </div>
</nav>
</div>
